<!-- vim: et ts=4 sw=4
-->
<!doctype HTML>
<html>
    <head>
        <title>{{ "bible"|localise(language) }} | {% block title %}{{ "title"|localise(language) }}{% endblock %}</title>
        <link rel="stylesheet" href="/static/styles.css" />
        <script src="/static/script.js" defer></script>
    </head>
    <body>
        <div id="container">
            <div>
                <form id="search-form" method="GET" action="/search">
                    <input type="text" name="search" placeholder="{{"search_placeholder"|localise(language)}}" />
                    <input type="submit" value="{{ "search"|localise(language) }}">
                </form>
            </div>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
