<!-- vim: et ts=4 sw=4
-->
{% extends "base.jinja" %}

           
{% block title %}{{book_short_name}}, Luku {{chapter_nr}}{% endblock %}

{% block body %}

    <!-- Context menu -->
    <div id="context-menu">
        <div>
            Valikko
        </div>
        <ul>
            <li id="copy-link">
                Kopioi linkki korostettujen jakeiden linkki
            </li>
        </ul>
    </div>

    <h1>{{ book_long_name }}</h1>
    <div class="nav-container">
        <div>
            {% if chapter_nr > 1 %}
                <span class="navigate-chapter"><a href="/books/{{book_short_name}}/{{chapter_nr-1}}">&lt;</a></span>
            {% endif %}
                <h2>Luku {{ chapter_nr }}</h2>
            {% if chapter_nr < chapters_in_book %}
                <span class="navigate-chapter"><a href="/books/{{book_short_name}}/{{chapter_nr+1}}">&gt;</a></span>
            {% endif %}
        </div>
        <div>
            <a class="navigate-to-chapters" href="/books/{{book_short_name}}">Luvun valintaan..</a>
        </div>
    </div>
    <div id="rim">
        <div id="chapter-container">
            {% for (verse_n, verse) in verses %}
                {% let hilight = hilights.contains(verse_n) %}
                <p class="verse {% if hilight %}hilight{% endif %}">
                    <a name="anchor-{{ verse_n }}"></a>
                    <span class="verse-nr">{{verse_n}}</span>
                    {{verse}}
                </p>
            {% endfor %}
        </div>
    </div>
    <div class="nav-container">
        <div>
            {% if chapter_nr > 1 %}
                <span class="navigate-chapter"><a href="/books/{{book_short_name}}/{{chapter_nr-1}}">&lt;</a></span>
            {% endif %}
                <h2>Luku {{ chapter_nr }}</h2>
            {% if chapter_nr < chapters_in_book %}
                <span class="navigate-chapter"><a href="/books/{{book_short_name}}/{{chapter_nr+1}}">&gt;</a></span>
            {% endif %}
        </div>
        <div>
            <a class="navigate-to-chapters" href=/books/{{book_short_name}}>Luvun valintaan..</a>
        </div>
    </div>
{% endblock %}


