<!-- vim: et ts=4 sw=4
-->
{% extends "base.jinja" %}
            
{% block title %}Kirjat{% endblock %}

{% block body %}
    <h1>Raamatun kirjat</h1>
    <div id="rim">
        <div id="books">
            {% for book in books %}
                <a class="book" href="/books/{{ book.short_name }}" style="color:{{book.book_color}}"> {{ book.full_name }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="about">
        <a href="/about">Tietoa tästä sivustosta..</a>
    </div>
    <div class="about">
        <a href="/search-help">Apua tehokkaaseen ja monipuoliseen hakemiseen Raamatusta..</a>
    </div>
{% endblock %}


