<!-- vim: et ts=4 sw=4
-->
{% extends "base.jinja" %}
            
{% block title %}{{ "front_page_short_title"|localise(language) }}{% endblock %}

{% block body %}
    <h1>{{ "front_page_long_title"|localise(language) }}</h1>
    <div id="rim">
        <div id="books">
            {% for book in books %}
                <a class="book" href="/books/{{ book.short_name }}" style="color:{{book.book_color}}"> {{ book.full_name }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="about">
        <a href="/{{ language }}/about">{{ "front_page_about_link"|localise(language) }}</a>
    </div>
{% endblock %}


