<!-- vim: et ts=4 sw=4
-->
{% extends "base.jinja" %}
           
{% block title %}Hakutulokset{% endblock %}

{% block body %}
    <h1>Hakutulokset</h1>
    <div id="rim">
        {% for result in results %}
            <div class="search-result">
                <a href="/books/{{ result.kirja }}/{{ result.luku }}?hls={{ result.jae }}#anchor-{{ result.jae }}">
                    <em>{{ result.kirja }}. {{ result.luku }}:{{ result.jae }}</em>
                    <p>{{ result.text }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
